<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">    
    <title>Your QRCode</title>
    <!-- Bootstrap CSS -->         
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class='col-sm-8 col-md-8'>
            <div class="card" style="width: 26rem;">
            {% if QRCode_data is not None %}
                <img class="card-img-top" src="{{QRCode_data}}" alt="Card image cap">
            {% else %}
                <p><h5 style='font-family:微軟正黑體;' align="center">資料錯誤</h5></p>    
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>